@very-dark-gray: #20202B;
@dark-gray: lighten(@very-dark-gray, 5%);
@gray: lighten(@dark-gray, 10%);
@light-gray: lighten(@gray, 25%);
@very-light-gray: lighten(@light-gray, 30%);

@cyan: #93ffeb;
@blue: #50a1ff;
@purple: #a873ff;
@green: #93d04e;
@red: #ff6b86;
@orange: #FFC86C;
@light-orange: #ffec00;
